{% extends "base.html" %}
{% block title %}Register Page{% endblock %}
{% block content %}
<form method="POST">
   {{ form.hidden_tag() }}
   <div class="container">
      <div class="row">
         <div class="col">
            <label for="exampleInputUsername1" class="form-label">{{ form.username.label }}</label>
            <input type="text" class="form-control" id="exampleInputUsername1" name="{{ form.username.name }}">
         </div>
      </div>
      <div class="row">
         <div class="col">
            <label for="exampleInputEmail1" class="form-label">{{ form.email_address.label }}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="{{ form.email_address.name }}">
         </div>
      </div>
      <div class="row">
         <div class="col">
            <label for="exampleInputPassword1" class="form-label">{{ form.password1.label }}</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="{{ form.password1.name }}">
         </div>
      </div>
      <div class="row">
         <div class="col">
            <label for="exampleInputPassword2" class="form-label">{{ form.password2.label }}</label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="{{ form.password2.name }}">
         </div>
      </div>
      <div class="row">
         <div class="col text-center">
            <br>
            <button type="text-light" class="btn btn-light" name="{{ form.submit.name }}">Create an account</button>
         </div>
      </div>
   </div>
</form>
{% endblock %}
