{% extends "base.html" %}
{% block title %}Register Page{% endblock %}
{% block content %}
<form method="POST">
   {{ form.hidden_tag() }}
   <div class="container">
      <div class="row">
         <div class="col">
            <label class="form-label" for="exampleInputUsername1">{{ form.username.label }}</label>
            <input class="form-control {% if form.username.errors %} is-invalid {% endif %}" id="exampleInputUsername1"
               name="{{ form.username.name }}" type="text" value="{{ form.username.data }}">
            {% for error in form.username.errors %}
            <div class="invalid-feedback">
               {{ error }}
            </div>
            {% endfor %}
         </div>
      </div>
      <div class="row">
         <div class="col">
            <label class="form-label" for="exampleInputEmail1">{{ form.email_address.label }}</label>
            <input class="form-control {% if form.email_address.errors %} is-invalid {% endif %}" id="exampleInputEmail1"
               name="{{ form.email_address.name }}" type="email"
               value="{{ form.email_address.data }}">
            {% for error in form.email_address.errors %}
            <div class="invalid-feedback">
               {{ error }}
            </div>
            {% endfor %}
         </div>
      </div>
      <div class="row">
         <div class="col">
            <label class="form-label" for="exampleInputPassword1">{{ form.password1.label }}</label>
            <input class="form-control {% if form.password1.errors %} is-invalid {% endif %}" id="exampleInputPassword1"
               name="{{ form.password1.name }}" type="password">
            {% for error in form.password1.errors %}
            <div class="invalid-feedback">
               {{ error }}
            </div>
            {% endfor %}
         </div>
      </div>
      <div class="row">
         <div class="col">
            <label class="form-label" for="exampleInputPassword2">{{ form.password2.label }}</label>
            <input class="form-control {% if form.password2.errors %} is-invalid {% endif %}" id="exampleInputPassword2"
               name="{{ form.password2.name }}" type="password">
            {% for error in form.password2.errors %}
            <div class="invalid-feedback">
               {{ error }}
            </div>
            {% endfor %}
         </div>
      </div>
      <div class="row">
         <div class="col text-center">
            <br>
            <button class="btn btn-light" type="submit">Create an account</button>
            <p>Already have an account? <a class="text-light" href="{{ url_for('login.login_page') }}">Login</a></p>
         </div>
      </div>
   </div>
</form>
{% endblock %}