{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<style>
   #para1 {
   font-size: 10px;
   }
</style>
<div class="container">
   <div class="text-center p-3">
      <img src="{{ url_for('static', filename='images/rainbow_icon.png') }}" class="img-fluid" alt="rainbow" width="150" height="75">
      <h1>Plan&Dream</h1>
   </div>
   {% if current_user.is_authenticated %}
   <div class="text-center">
      <p>Hi {{ current_user.username }}!</p>
      <p>Check your current lists and add more of them to achieve your goals!</p>
      <p>With Plan&Dream, you can create to-do lists, bucket lists, and any other lists you desire.</p>
      <p>Say goodbye to procrastination and be as most productive person as you can be!</p>
      <a href="{{ url_for('user_page.user_page_view', username=current_user.username) }}" class="btn btn-light btn-lg">Go to your lists</a>
      <br>
      <p id="para1">Don't want your account anymore? :( <a href="#" class="text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete it.</a></p>
   </div>
   {% else %}
   <div class="text-center">
      <p>Ever find yourself forgetting what needs to be done? Struggling to tick off all those planned tasks?</p>
      <p>Or simply looking to organize your future plans?</p>
      <p>With Plan&Dream, you can create to-do lists, bucket lists, and any other lists you desire.</p>
      <p>Say goodbye to procrastination and hello to achieving your goals!</p>
      <a href="{{ url_for('register.register_page') }}" class="btn btn-light btn-lg">Sign up</a>
      <br>
      <p>Already have an account? <a href="{{ url_for('login.login_page') }}" class="text-light">Login</a></p>
   </div>
   {% endif %}
</div>
<div class="modal" tabindex="-1" id="exampleModal">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Delete your account</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete your account?</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
            <button type="button" class="btn btn-primary" onclick="deleteUserAndRedirect('{{ current_user.id }}')">Yes</button>
         </div>
      </div>
   </div>
</div>
<script src="{{ url_for('home.static', filename='js/home_page_functions.js') }}"></script>
{% endblock %}